{% include 'header.html'%}
<br>
<center>


<img src="{{ books_id.image.url }}" class="img-thumbnail" alt="">
<br>
    <br>
<div class="card" style="width: 30rem;">
  <div class="card-header">
    <h1>{{ books_id.title }}</h1>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Автор: {{ books_id.author }}</li>
    <li class="list-group-item">Описание:{{ books_id.description }}</li>
    <li class="list-group-item"><b>Цена: {{ books_id.price }}₽</b> </li>
    <li class="list-group-item">Жанр: {{ books_id.book_genre }}</li>
    <li class="list-group-item">Дата публикации: {{ books_id.publication }}</li>
    <li class="list-group-item">Ключевые слова: {{ books_id.key_words }}</li>
  </ul>
</div>


<p> </p>
<p></p>

{% if books_id.video %}
    <iframe src="{{ books_id.video }}" frameborder="0"></iframe>
{% endif %}

{% if books_id.audio_book %}
    {% if books_id.audio_book.url %}
        <audio controls>
            <source src="{{ books_id.audio_book.url }}">
        </audio>
    {% else %}
        <p>Error: The 'audio_book' attribute has no file associated with it.</p>
    {% endif %}
{% endif %}

<br>
<br>

<table border="1" width="600" cellpadding="5">
    <tr>
        <td>Оценка </td>  <td>Отзыв</td> <td>Дата отзыва</td>
    </tr>
    {% for i in books_id.review_book.all %}
    <tr>
        <td>{{ i.stars }}</td> <td>{{ i.text }}</td> <td>{{ i.created_at }}</td>
    </tr>
    {% endfor %}
</table>
<br>
<br>
<a class="btn btn-primary" href="/books/{{ books_id.id }}/delete/" role="button">Удалить</a>
<a class="btn btn-primary" href="/books/{{ books_id.id }}/update/" role="button">Редактировать</a>
<br>
<br>
<a class="btn btn-primary" href="/books/" role="button">Вернуться назад</a>

</center>
<br>
{% include 'footer.html'%}