{% include 'header.html'%}

<ul style="list-style-type: none;">


{% for j in book%}
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">

      <img

        src="{{ j.image.url }}"

        class="img-fluid rounded-start"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ j.title}}</h5>
        <p class="card-text">
          {{ j.description | slice:":99" }}...
        </p>
        <p class="card-text">
          <small class="text-muted">{{ j.publication }}</small>
        </p>
        <a href="/books/{{ j.id }}" class="btn btn-primary">Подробнее</a>
      </div>
    </div>
  </div>
</div>
 {% endfor %}

<a class="btn btn-primary" href="/create_book/" role="button">Добавить книгу</a>
<a class="btn btn-primary" href="/create_review/" role="button">Добавить отзыв</a>
</ul>
{% include 'footer.html'%}
