<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>

    <ul>
        {% for i in object_list %}
                <li>
                <h1>Привет - {{ i.username }}</h1>
                <p>Почта - {{ i.email }}</p>
                <p>Имя - {{ i.name }}</p>
                <p>Возраст - {{ i.age }}</p>
                <p>Номер телефона - {{ i.phone_number }}</p>
                <p>Любимый жанр - {{ i.favorite_genre }}</p>
                {% if i.club %}
                <p>Ваш уровень опыта - {{ i.club }}</p>
                {% else %}
                <p>Опыт не определен</p>
                {% endif %}
                 </li>
        {% endfor %}
    </ul>
<form action="{% url 'users:login' %}" method="POST">
    {% csrf_token %}
    <button type="submit">Выйти</button>
</form>

</div>

</body>
</html>