{% include 'header.html'%}
    <ol>
          {% for i in men_cloth %}
            <li>
                <img src=" {{ i.image.url }}" alt="" width="450" height="500">
                <p>{{ i.name }}</p>
                <p>{{ i.price }}$</p>
                <p>{{ i.description }}</p>
                {% for j in i.tags.all %}
                    <p>#{{ j.name }}</p>
                {% endfor %}
            </li>
          {% endfor %}
    </ol>
    <button><a href="/men_cloth/">М</a></button>
    <button><a href="/kids_cloth/">Д</a></button>
    <button><a href="/women_cloth/">Ж</a></button>
    <button><a href="/cloth_all/">Вернуться</a></button>
{% include 'footer.html'%}